<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Połącz PDFy</title>
    <link href="webjars/bootstrap/4.6.0/css/bootstrap.min.css"
          rel="stylesheet">

</head>
<body>
<div class="jumbotron text-center">
    <h1 th:text="#{title.main.h1}"></h1>
    <h2 th:text="#{title.main.h2}"></h2>
    <h3 th:text="#{title.main.h3}"></h3>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/pdflist" role="button" th:text="#{button.merged.pdf.list}"></a>
        <a class="btn btn-primary btn-lg" href="/uploadedlist" role="button" th:text="#{button.uploaded.pdf.list}"></a>
    </p>
</div>
<div class="container">
    <!--    <div class="row align-items-start">-->
    <div class="row">
        <div class="col-md-16 mx-auto">
            <form action="#" method="POST" th:action="@{/uploadfiles}" enctype="multipart/form-data"
                  id="formModel" th:object="${formModel}">
                <div class="input-group mb-6">
                    <div class="input-group-prepend">
                        <span>
                            <button type="submit" class="btn btn-primary" th:text="#{button.send}"></button>
                        </span>

                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="pdfs" id="fileInput"
                               accept="application/pdf"
                               onchange="uploadedPdfInfo();" multiple required>
                        <label class="custom-file-label" for="fileInput"  th:text="#{input.choose.pdf}"></label>
                    </div>
                    <div>
                        <label th:text="#{pdf.name.label}"></label>
                        <input type="text" th:field="*{name}" id="name"   th:placeholder="#{input.placeholder.pdf.name}">
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}">
                </div>
                <div class="alert alert-info" role="alert" th:inline="text">
                    [[#{files.number}]]
<!--                    liczba plików:-->
                    <span id="fileNum">0</span>;
                    [[#{total.size}]]
                    <span id="fileSize">0</span>
                </div>
            </form>
            <!--            </div>-->
        </div>
    </div>
</div>
<script>
            function uploadedPdfInfo() {
                var bytesCount = 0,
                        pdfFile = document.getElementById("fileInput").files,
                        pdfLength = pdfFile.length;
                for (var fileId = 0; fileId < pdfLength; fileId++) {
                    bytesCount += pdfFile[fileId].size;
                }

                var totalBytes = bytesCount + " bytes";


                document.getElementById("fileNum").innerHTML = pdfLength;
                document.getElementById("fileSize").innerHTML = totalBytes;
            }



</script>

<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>