<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Połącz PDFy</title>
    <script src="/jquery/jquery-3.5.1.min.js"></script>
    <script src="/bootstrap-4.5.3/js/bootstrap.min.js"></script>
</head>
Połącz PDFy
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form method="post" th:action="@{/uploadfiles}" enctype="multipart/form-data" id="uploadForm">
                    <div class="form-group">
                        <label for="uploadfile1">File 1:</label>
                        <input type="file" class="form-control" placeholder="Upload File" id="uploadfile1" name="pdfs">
                    </div>
                    <div class="form-group">
                        <label for="uploadfile2">File 2:</label>
                        <input type="file" class="form-control" placeholder="Upload File" id="uploadfile2" name="pdfs">
                    </div>
                    <div class="form-group">
                        <label for="uploadfile3">File 3:</label>
                        <input type="file" class="form-control" placeholder="Upload File" id="uploadfile3" name="pdfs">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>

            </div>
        </div>
    </div>
</section>

</body>
</html>